.contact {
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.contact-item {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.right {
  padding: 30px 0 0 50px;
}
.icon {
  padding: 0 14px 0 0;
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .contact-item {
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}
