.contact {
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.contact-item {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.right {
  padding: 24px 0 0 50px;
}
.icon {
  padding: 0 14px 0 0;
  width: 20px;
  height: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: green;
}

@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
  .contact-item {
    /* justify-content: center; */
  }
  .icon {
  }
  .right {
    justify-content: center;
    padding: 0;
  }
}
